.bootbox .modal-header {
    position: relative;
    text-align: center;
}

.bootbox .modal-header .close {
    position: absolute;
    right: 5px;
    top: 1px;
    margin: 0;
}

.bootbox .modal-header .close::before {
    content: "" !important;
}

.body-landing-page .content-landing .landing-page-signup-head .subtitle,
.body-landing-page .content-landing .landing-page-signup-form .select-group-title,
.body-landing-page .content-landing .landing-page-social-auth .landing-or,
.col-login .divider span,
.col-registration .divider span,
.modal-auth .divider span,
.modal-register .divider span {
    color: #545e71;
}
