.bootbox.modal .bootbox-body {
    width: 100%;
}

.bootbox.modal .modal-body .alert {
    margin-bottom: 0;
}

.bootbox.modal .modal-body .text-muted {
    margin: 12px 0 0;
}

.bootbox.modal .modal-footer .btn + .btn {
    margin-left: 8px;
}
